@mixin transition-opacity($duration) {
  transition: opacity $duration linear;
  -webkit-transition: opacity $duration linear;
  -moz-transition: opacity $duration linear;
}

body {
  background-color: white;
  margin: 0;
  padding: 0;
}

.hero-container {
  position: relative;
  margin-top: 200px;
  display: block !important;
  width: 100%;
  padding-bottom: 125%;
  background: url("../images/w600_parallax_mobile_image.jpg") no-repeat top
    center;
  background-size: cover;
  background-color: black;

  @media screen and (min-width: 768px) {
    padding-bottom: 70%;
    background: url("../images/w1900_parallax_mobile_image.jpg") no-repeat top
      center;
  }

  .hero-container-cover {
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0;
    background-color: rgba(0, 0, 0, 0.6);
    @include transition-opacity(0.2s);

    &.show {
      opacity: 1;

      .contents {
        transform: translate3d(0, 20%, 0);
      }
    }

    .contents {
      position: absolute;
      top: 60%;
      left: 0;
      right: 0;
      width: 90%;
      color: white;
      margin: auto;
      transform: translate3d(0, 0, 0);

      @media screen and (min-width: 768px) {
        top: 30%;
        width: 70%;
      }

      .type {
        text-transform: uppercase;
        font-size: 0.7rem;
        @media screen and (min-width: 768px) {
          font-size: 1rem;
        }
      }

      .title {
        text-transform: uppercase;
        font-size: 2rem;
        @media screen and (min-width: 768px) {
          font-size: 5rem;
        }
      }

      .author {
        text-transform: capitalize;
        float: right;
        font-size: 1.5708rem;
        text-align: right;
      }
    }
  }
}

.section {
  //position: relative;
  max-width: 100%;
  margin: 20px auto;

  @media screen and (min-width: 769px) {
    max-width: 1020px;
    margin: 40px auto;
  }
}

.container {
  padding-left: 20px;
  padding-right: 20px;
}

.article {
  font-size: 1.1rem;

  .row {
    &:after {
      display: table;
      clear: both;
      content: "";
    }
  }

  .text {
    line-height: 1.4;
    @media screen and (min-width: 768px) {
      width: 50%;
      float: left;
    }

    &.full {
      @media screen and (min-width: 768px) {
        width: 70%;
        margin: 30px auto 0;
        float: none;
        clear: both;
      }
    }
  }

  .quote {
    display: block;
    margin: 30px 0;
    font-size: 1.6rem;
    text-decoration: underline;
    @media screen and (min-width: 768px) {
      font-size: 2.3rem;
    }
    &:before {
      content: '"';
    }
    &:after {
      content: '"';
    }
  }

  .column-image {
    margin: 0 -20px;

    &.sticky {
      position: sticky;
      top: 20px;
    }

    @media screen and (min-width: 768px) {
      position: relative;
      margin: 20px 0;
      float: right;
      width: 44%;
    }

    img {
      width: 100%;
    }
  }

  .caption {
    color: grey;
    font-size: 0.9rem;
    padding: 0 10px;

    .underline {
      position: relative;
      display: block;
      margin: 0 0 20px;

      &:before {
        position: absolute;
        width: 5%;
        height: 3px;
        background-color: grey;
        content: "";
        bottom: -5px;
      }
    }
  }

  .uppercase {
    text-transform: uppercase;
  }
}
